body{
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

img{
    width: 100%;    
}

.nav-container{
    background-color:#6700EE;

    
}

.nav-container a{
    color: white;;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.nav-container .logo{
    color: #00F7FF;
    font-weight: bold;
}

nav{
    float: right;
}

nav ul{
    display: flex;
}

nav a{
    display: block;
    padding: 0 1em;
}



.social-header, .hero-design{
    display: none;
}

.main-screen{
    background-color: #6E00FF;
    color: #FFF;
    display: grid;
    text-align: center;
    padding: 4em;
}

.pi{
    width: 30px;
    margin-top: 2em;
    
}





.intro{
    display: flex;
    margin: 0 auto;
    width: 200px;
    font-weight: bold;
    color: #FF64CB;

}


section{
    padding: 4em 2em;
    text-align: center;
}

.featured{
    position: relative;
}
.featured::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #E5D5FA;
    top: 0;
    left: 0;
    z-index: -1;
}
.subtitle{
    text-transform: uppercase;
    font-weight: bold;
    color: #6E00FF;
    letter-spacing: .2em;
    font-size: .85em;
}
.featured-title{
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: -.4em;
    display: block;
}
.featured-desc{
    color: #4b4646;
    margin-bottom: 3em;
    font-size: 1em;
    line-height: 1.8em;
    font-weight: 500;
}

.right{
    width: 50%;
    height:auto;
    border-style: none;
    border-radius: 10px;
    align-items: center;

    
}

.bg{
    background-color: #6E00FF;
    padding: 2em 4em;
    border-radius: 2em;
}

.bg:hover{
    background-color:#6700EE;
}

span{
    font-weight: bold;
    color: #FFF;
    text-align: center;
}



.skills{
    background-color: #ff64a5e8;

}

.skills-container img{

    width: 100px;
    
}

.skills-container ul li{
    background-color: #FFF;
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 1em;


}

.icon-container{
    height: 100px;
    display: grid;
    place-content:center;
    margin: 0 auto;

   
}


.skill-title{
    font-weight: bold;
}

.c-desc{
    margin-bottom: 2em;
}

.contact{
    background-color: #F7F7F7;
    
    
}

@media only screen and (min-width:800px) {

    .featured, .contact{
        text-align: left;
        display: grid;
        grid-template-columns: 40% auto;
    }

    .left, .contactleft{
        display: grid;
        place-content: center;

    }

    .right{
        margin-left: 2em;
        margin-top: 1em;

    }

    .skills{
        margin-top: -5em;
        margin-bottom: -7em;
        padding-top: 7em;
    }

    .skills-container ul{
        display: grid;
        grid-template-columns: repeat(3, auto );
        gap: 1em;

    }

    .contact{
        padding-top: 3em;
        
    }
}



@media only screen and (min-width:800px){

    .main-screen{
        height: 90vh;

    }
    .nav-container{
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
    }
    .nav-container header{
        background-color: #6700EE;
    }

    header{
        padding:2em 2em 2em 4em;

    }

    .social-header{
        padding: 2em 4em 2em 0;
        display: block;
        
    }

    section{
        padding: 4em;
    }


    .social-header ul{
        display: flex;
        justify-content: space-between;
        width: 7em;
        float: right;
        
        
    }

    
    .social-header ul img{
        width:30px;
    }

    .main-screen{
        display: grid;
        grid-template-columns:66% auto ;
        background: unset;
        padding:0;


            
    }

     .content{
         background: #6E00FF;
         padding: 6em 8em 6em 4em;
         text-align: left;

     } 
     .content h1{
         font-size: 3em;
         line-height: 1.2em;
     }

     .intro{
         margin: unset;
     }

     .hero-design{
         display: unset;
         margin: -50%;
         margin-top: 15%;
         width: 100%;
     }

}